
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Login</title>

 </head>

 <body>

   <th:block th:if="${session.user == null}">
   <table width="100%" height="120" border="0">
   <form name="login_form" action="/User/user_login" method="post" >
     <tr>
       <td colspan="2" bgcolor="#6FA0E" height="20" align="center">
         <font size="2" color="white"><b>Member Login</b></font>
       </td>
     </tr>
     <tr>
       <td ><font size="2">아 이 디</font></td>
       <td ><input type="text" size="10" name="userid"></td>
     </tr>
     <tr>
       <td><font size="2">비밀번호</font></td>
				 <td>
         <input type="password" size="10" name="passwd">
       </td>
     </tr>
     <tr>
       <td><input type="image" src="/Images/img/login1.gif" border="0"></td>
				 <td>
           <a href="/User/user_insert"><img src="/Images/img/regist.gif" border="0"></a>
       </td>
     </tr>
 </form>
 </table>
 </th:block>

 <th:block th:if="${session.user != null}">
 <table width="100%" height="120" border="0">
   <tr>
     <td bgcolor="#6FA0E" align="center" height="20">
       <font size="2" color="white"><span th:text="${session.user.name}">회원</span> 님!</font>
     </td>
   </tr>
   <tr>
     <td align="center">
       <font size="2">
       <a href="/User/user_mypage">마이페이지</a><br>
       <a href="/User/user_logout">로그아웃</a><br>
       </font>
     </td>
   </tr>
 </table>
 </th:block>

 </body>
 </html>
