<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mnu.sample.mapper.BoardMapper">
	<!-- 1. 전체 글 카운터 get -->
	<select id = "BoardCount" resultType="int">
		select count(*) from tbl_board
	</select>
	
	<!-- 2. 검색 조건에 해당하는 글수 post -->
<select id ="BoardCountSearch" resultType="string">
	select count(*) from tbl_board where 
	<choose> <!-- 스위치 케이스 -->
		<when test="search=='name'" >
		<!-- 동시에 get,post를 처리할경우 where 이 여기에 붙음 -->	name like '%' ||  #{key} || '%'
		</when>
		
		<when test="search=='subject'" >
			subject like '%' ||  #{key} || '%'
		</when>
		
		<when test="search=='contents'" >
			contents like '%' ||  #{key} || '%'
		</when>
		
	</choose>
</select>


<!--  2. 검색 조건에 해당하는 글수 MySql(MariaDB) -->
<!-- 
	<select id ="BoardCountSearch" resultType="string">
		select count(*) from tbl_board where 
		<choose> 
			<when test="search=='name'" >
				name like  concat ('%', #{key} ,'%')
			</when>
		
		<when test="search=='subject'" >
			subject like concat ('%', #{key}, '%')
		</when>
		
		<when test="search=='contents'" >
			contents like concat ('%' ,  #{key} , '%')
		</when>
		
	</choose>
</select>
 -->


	<!-- 3. 전체 목록 get-->
<select id ="BoardList" resultType="com.mnu.sample.domain.BoardDTO">
		select * from tbl_board order by idx desc
</select>
	
	<!-- 4. 검색조건에 맞는 목록 post -->
<select id="BoardListSearch" resultType="com.mnu.sample.domain.BoardDTO">
		select * from tbl_board where 
		<choose>
			<when test ="search=='name'">
				name like '%' || #{key} || '%'
			</when>
			<when test ="search=='subject'">
				subject like '%' || #{key} || '%'
			</when>
			<when test ="search=='contents'">
				contents like '%' || #{key} || '%'
			</when>

		</choose>
		
		order by idx desc
</select>
	
	<!-- 5. 글 등록 -->
	
	<insert id="BoardWrite">
		insert into tbl_board (idx,name,subject,contents,pass) values(tbl_board_seq_idx.nextval, #{name},#{subject}
		, #{contents}, #{pass})
	</insert>
	<!-- 6. 특정글 검색 (view, modify  -->
	<!-- 7. 수정처리  -->
	<!-- 8. 삭제처리  -->
	
	
</mapper>
 