
<!-- 메뉴 include -->
<th:block th:replace="~{Include/topmenu}"></th:block>

<html xmlns:th="http://www.thymeleaf.org">
   <head><title>게시판 수정</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">

</head>
 <body topmargin="0" leftmargin="0">
 <table border="0" width="800">
 <tr>
   <td width="20%" height="500" bgcolor="#ecf1ef" valign="top">

   <!-- 다음에 추가할 부분 -->
	<th:block th:replace="~{Include/login_form}"></th:block>

   </td>

   <td width="80%" valign="top">&nbsp;<br>
     <img src="/Images/img/bullet-01.gif"><font size="3" face="돋움" color="blue"> <b>반갑습니다</b></font>
     <font size="2"> - 글수정</font><p>
     <font size="2" color="red" th:if="${error != null}" th:text="${error}">비밀번호가 일치하지 않습니다.</font><p th:if="${error != null}">
     <form method="post" th:action="@{/Board/board_modify}">
	  <input type="hidden" name="idx" th:value="${board.idx}">
	  <input type="hidden" name="page" th:value="${page}">

	  <table border="0">
       <tr>
         <td width="5%" align="right">&nbsp;</td>
         <td width="15%"><font size="2" face="돋움">글쓴이</font></td>
         <td width="80%">
         <font size="2" face="돋움" th:text="${board.name}">나종민</font></td>
       </tr>
       <tr>
         <td align="right">&nbsp;</td>
         <td ><font size="2" face="돋움">메일주소</font></td>
         <td>
          <input type="text" size="20" name="email" th:value="${board.email}"></td>
       </tr>
	   <tr>
         <td align="right"><img src="/Images/img/bullet-02.gif"></td>
         <td><font size="2" face="돋움">제목</font></td>
         <td><input type="text" size="60" name="subject" th:value="${board.subject}"></td>
       </tr>
       <tr>
         <td align="right"><img src="/Images/img/bullet-02.gif"></td>
         <td><font size="2" face="돋움">내용</font></td>
         <td><textarea wrap="physical" rows="10" name="contents" cols="60" th:text="${board.contents}"></textarea></td>
       </tr>
	   <tr>
         <td align="right"><img src="/Images/img/bullet-02.gif"></td>
         <td><font size="2" face="돋움">비밀번호</font></td>
          <td><input type="password" size="10" name="pass"><font size="2" face="돋움">*.글 작성시 입력한 비밀번호를 입력하세요.</font></td>
        </tr>
        <tr></tr>
		<tr>
          <td align="right">&nbsp;</td>
          <td><font size="2">&nbsp;</font></td>
          <td>
                     <input type="image" src="/Images/img/save.gif" border="0">&nbsp;&nbsp;&nbsp;
                     <a th:href="@{/Board/board_view(idx=${board.idx}, page=${page})}"><img src="/Images/img/cancle.gif" border="0"></a>
          </td>
        </tr>
      </table>
      </form>
    </td>
  </tr>
  </table>
  </body>
  </html>
